body {
  margin: 0;
}

.container {
  display: flex
}

.panel {
  display: flex;
  flex-direction: column;

  width: 300px;
  background: #555;
}

.panel .colors {
  display: flex;

  height: 200px;
  background: black;
  margin: 8px;
}

.panel .colors div {
  width: 25px;
  height: 25px;
  margin: 4px;
}

.panel .colors div.selected {
  box-shadow: 0 0 2px 2px gold;
}

.panel .layers {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.panel .layers li {
  height: 25px;
  margin: 4px;
}

.panel .layers li.simple {
  background: rgba(0, 255, 0, 0.5)
}

.panel .layers li.complex {
  background: rgba(255, 0, 0, 0.5)
}

.panel .layers li.selected {
  box-shadow: 0 0 2px 2px gold;
}
